@import "~antd/dist/antd.css";

.App {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-left {
  width: 350px;
  height: 100vh;
  overflow: auto;
}

.App-left ul {
  padding: 0;
  margin: 0 0 0 10px;
  border-bottom: 1px solid #ddd;
  list-style: none;
  color: #333;
}

.App-left ul li {
  margin: 0;
}
.App-left ul ul {
  margin: 10px;
}
.App-left ul ul li {
  margin: 0 0 0 20px;
  list-style-type: square;
}

.App-left ul li input {
  width: 200px;
}

.App-left ul a {
  text-decoration: none;
  color: #333;
}

.App-right {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: calc(100% - 350px);
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
  background: #23241f;
}

.App-right code {
  width: 100%;
  overflow-x: initial;
}

.App-right .ant-result-title {
  color: rgb(55, 55, 55);
  font-size: 20px;
}

.App-right .ant-result-info {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hightlight,
.hightlight * {
  color: red !important;
  background: yellow !important;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
